*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
 /* Header section start  */
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0),
        rgba(0,0,0, 100)
      ),url("/image/donation9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.content{
    text-align: center;
    padding-top: 200px;
    color: #fff;
}
.pera{
    margin: 20px;
}
.btn{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius:5px ;
    background-color: tomato;
    color: #fff;
    cursor: pointer;
} 
/* Header Section End */

/* Donete section start */
.donete-container{
    text-align: center;
    margin: 20px;
}
.container-box{
    width: 600px;
    height: 200px;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0,0,0, 0.2);
}
.d-pera{
    margin: 20px;
    color: #999;
}
.donete-tk{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: #ddd;
    color: #777;
    padding-top:20px;
}
.tk{
    border: 2px solid tomato;
    background: rgba(230, 185, 178, 0.858);
    color: rgb(207, 77, 54);
}
small{
    color: #999;
}
hr{
    width: 700px;
    margin: 20px auto;
}
.d-btn{
    margin: 30px;
}
/* Donete section end */

/*  Card section start */
.card-container{
    text-align: center;
    margin: 20px;
}
.flex-card{
    display: flex;
    justify-content: space-evenly;
}
.card1{
    width: 350px;
    height: 300px;
    box-sizing: border-box;
    background-color: rgba(143, 220, 222, 0.358);
    border-radius: 10px;
}
 img{
    margin:30px ;
}
.c-pera{
    text-align: justify;
    margin: 20px;
    color: #999;
}
.shelter-card{
    background-color: pink;
}
.edu-card{
    background: #FFFFCC;
}

/*  Card section end*/

/*  donetion container start */
.donation-container{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.left-side{
    width: 50%;
    padding: 50px;
    text-align: start;
}
.right-side{
    width: 45%;
}
.right-side img{
    width: 100%;
    border-radius: 10px;
}

/*  donetion container end */

/*   Get uodate start */
.update-container{
    text-align: center;
    margin: 50px;
}
.input{
    width: 600px;
    height: 150px;
    border-radius: 15px;
    margin: 30px auto;
    background: #FFFFCC;
}
.input-box{
    width: fit-content;
    display: flex;
    text-align: center;
    align-items: center;
    /* padding: 15px 15px; */
    margin:  20px auto; 
    border-radius: 5px;
    background-color: #999;
}
.input-box input{
    background: transparent;
    width: 250px;
    border: none;
    outline: none;
}
/*   Get uodate start */


/* contract section */
.contract-title{
    text-align: center;
    margin: 50px;
}
.contract{
    display: flex;
    align-items: center;
    width: 100%;
}
.left{
    width: 50%;
    margin: 50px;
}
.icon-flex{
    display:flex ;
}
.right{
    width: 45%;
    height: 400px;
    background-image: url("image/Frame\ 59.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.right-title{
    text-align: center;
    margin: 15px;
}
input{
    width: 400px;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    margin: 15px;
    border-radius: 5px;
}
textarea{
    width: 400px;
    height: 100px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 15px;
    padding: 20px;
}
.sub-btn{
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 150px;
    margin-bottom: 120px;
    background-color: #F43BBA;
    color:#000 ;
    cursor: pointer;

}
.material-symbols-outlined{
    font-size: 50px;
}
.box-fle{
    display:flex ;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.flex-col{
    flex-direction: column;
    text-align: center;
    margin: 20px;
}
/* footer section */
footer{
    width: 100%;
    height: 200px;
    background: #000;
    color: #fff;
}
.footer-section{
    text-align: center;
    padding: 30px;
}
.foter-title{
    color: tomato;
    margin: 10pz;
}
